<div class="status-panel">
  <h2>État du Robot</h2>
  
  <div class="status-item">
    <span class="label">Batterie:</span>
    <div class="battery-level">
      <div class="level-fill" [style.width.%]="robotData?.batteryLevel"></div>
    </div>
    <span class="value">{{ robotData?.batteryLevel }}%</span>
  </div>

  

  <div class="status-item">
    <span class="label">Température:</span>
    <span class="value">{{ robotData?.temperature }}°C</span>
  </div>

  <button class="action-btn emergency">Arrêt d'urgence</button>
  <button (click)="goToMissions()" class="action-btn primary">Liste des missions</button>
</div>